<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=sql2.njit.edu;Database=ppf3;Uid=ppf3;Pwd=0qzdkDbiE" name="ppf3" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=sql.njit.edu;uid=njr7;pwd=QEXNEA1E;database=njr7" name="njr7" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
