body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u2 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:29px;
  top:90px;
  width:345px;
  height:40px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background-color:#D7D7D7;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:40px;
  top:99px;
  width:40px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:40px;
  top:99px;
  width:20px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u6 {
  position:absolute;
  left:40px;
  top:105px;
  width:20px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u7 {
  position:absolute;
  left:40px;
  top:111px;
  width:20px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u8 {
  position:absolute;
  left:36px;
  top:139px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:124px;
  top:14px;
  width:172px;
  height:15px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:124px;
  top:40px;
  width:210px;
  height:60px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u15 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:280px;
  top:102px;
  width:77px;
  height:19px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
