body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:90px;
  width:343px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u3 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
