body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:636px;
  width:288px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:636px;
  width:36px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:93px;
  top:645px;
  width:50px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:280px;
  top:642px;
  width:52px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u8 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:69px;
  top:290px;
  width:275px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:29px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:78px;
  top:319px;
  width:247px;
  height:29px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:30px;
  top:90px;
  width:344px;
  height:40px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
  background-color:#D7D7D7;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:337px;
  top:140px;
  width:37px;
  height:140px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:140px;
}
#u15 {
  position:absolute;
  left:2px;
  top:62px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:44px;
  top:99px;
  width:36px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:44px;
  top:99px;
  width:20px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u18 {
  position:absolute;
  left:44px;
  top:105px;
  width:20px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u19 {
  position:absolute;
  left:44px;
  top:111px;
  width:20px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u20 {
  position:absolute;
  left:37px;
  top:140px;
  width:140px;
  height:140px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u21 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:187px;
  top:140px;
  width:140px;
  height:140px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u23 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:152px;
  top:633px;
  width:29px;
  height:30px;
  opacity:0.8;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:138px;
  top:620px;
  width:56px;
  height:56px;
  opacity:0.65;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:152px;
  top:633px;
  width:29px;
  height:30px;
  opacity:0.65;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u30 {
  position:absolute;
  left:0px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:206px;
  top:620px;
  width:56px;
  height:56px;
  opacity:0.65;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:219px;
  top:638px;
  width:31px;
  height:25px;
  opacity:0.65;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:56px;
  top:358px;
  width:288px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:367px;
  width:121px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:60px;
  top:363px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:56px;
  top:398px;
  width:288px;
  height:212px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  line-height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:212px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:286px;
  top:362px;
  width:52px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:56px;
  top:436px;
  width:260px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u45 {
  position:absolute;
  left:56px;
  top:463px;
  width:260px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u46 {
  position:absolute;
  left:64px;
  top:553px;
  width:260px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u47 {
  position:absolute;
  left:64px;
  top:580px;
  width:260px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u48 {
  position:absolute;
  left:28px;
  top:130px;
  width:344px;
  height:560px;
  opacity:0.15;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:560px;
}
#u49 {
  position:absolute;
  left:2px;
  top:272px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:36px;
  top:220px;
  width:330px;
  height:330px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:330px;
}
#u51 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:36px;
  top:220px;
  width:330px;
  height:330px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:330px;
}
#u53 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
