body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:37px;
  top:140px;
  width:140px;
  height:140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:69px;
  top:290px;
  width:275px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:187px;
  top:140px;
  width:140px;
  height:140px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u7 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:90px;
  width:344px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
  background-color:#D7D7D7;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:337px;
  top:140px;
  width:37px;
  height:140px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:140px;
}
#u10 {
  position:absolute;
  left:2px;
  top:62px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:350px;
  width:157px;
  height:100px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:153px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:43px;
  top:429px;
  width:157px;
  height:91px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:91px;
}
#u14 {
  position:absolute;
  left:2px;
  top:20px;
  width:153px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:122px;
  top:324px;
  width:149px;
  height:15px;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:280px;
  top:102px;
  width:77px;
  height:19px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:310px;
  top:650px;
  width:54px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:43px;
  top:99px;
  width:37px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:43px;
  top:99px;
  width:20px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u21 {
  position:absolute;
  left:43px;
  top:105px;
  width:20px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u22 {
  position:absolute;
  left:43px;
  top:111px;
  width:20px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u23 {
  position:absolute;
  left:47px;
  top:650px;
  width:253px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:200px;
  top:500px;
  width:157px;
  height:100px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
