body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:90px;
  width:343px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u3 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:90px;
  width:343px;
  height:90px;
  opacity:0.95;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:104px;
  width:210px;
  height:63px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:63px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:120px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:104px;
  width:57px;
  height:57px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
