body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:745px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:153px;
  width:172px;
  height:15px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:179px;
  width:210px;
  height:60px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:290px;
  width:151px;
  height:15px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:160px;
  top:316px;
  width:210px;
  height:60px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:424px;
  width:135px;
  height:15px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:160px;
  top:450px;
  width:210px;
  height:60px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:36px;
  top:276px;
  width:114px;
  height:114px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u15 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:36px;
  top:139px;
  width:114px;
  height:114px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u17 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:36px;
  top:410px;
  width:114px;
  height:114px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u19 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:36px;
  top:545px;
  width:114px;
  height:114px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u21 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:559px;
  width:125px;
  height:15px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:160px;
  top:585px;
  width:210px;
  height:60px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:29px;
  top:90px;
  width:345px;
  height:40px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background-color:#D7D7D7;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:40px;
  top:99px;
  width:40px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u27_input:disabled {
  color:grayText;
}
#u28 {
  position:absolute;
  left:40px;
  top:99px;
  width:20px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u29 {
  position:absolute;
  left:40px;
  top:105px;
  width:20px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u30 {
  position:absolute;
  left:40px;
  top:111px;
  width:20px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:2px;
}
#u31 {
  position:absolute;
  left:293px;
  top:102px;
  width:77px;
  height:19px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
